/* styles.css */

/* html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #292828; 
  } */
  
  header {
    background-color: transparent; 
    color: #292828; 
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-height: 100px;
  }

  nav {
    margin: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }

  nav ul li :hover{
    color: #d31414;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .form-section {
    max-width: 600px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  footer {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .upper {
    display: flex;
    justify-content: space-between;
    font-weight:550;
  }
  .upperHeader {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .upperHeaderRight a {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .upperHeaderRightInline {
    display: inline-block;
  }

  @media (max-width: 600px) {
    .upperHeader {
      color: white;
      font-size: x-small;
    }
    .upperHeaderRight {
      align-self: flex-end;
    }
  }
  