<div class="header headerFlorence"> NORTHERN KENTUCKY'S BEST
</div>
<div class="header">MARTIAL ARTS SCHOOL</div>
<div class="headerWhite homeText">Find out why so many people in Florence turn to Invictus Martial Arts for their martial arts training. Parents just like you have discovered how to maximize their child's potential and accelerate their development! Request more information or Get Started Today with our Exclusive Online Only Offer!</div>
<div class="moving_info">
  <div><span class="moving">WE HAVE MOVED!</span><br><br><a href="https://www.google.com/maps/place/Suite+9,+Oakbrook,+KY+41042/@38.9910173,-84.6948615,17z/data=!3m1!4b1!4m6!3m5!1s0x8841c42b606824df:0x90ad2fa8e6fc12f7!8m2!3d38.9910173!4d-84.6948615!16s%2Fg%2F11rnf9wslj?entry=ttu">7500 Oakbrook Drive, Suite 9<br>Florence, KY 41042</a></div>
</div>
<div class="moving_info_pic"><img src="assets/building.png" alt="Taekwondo School Building" style="max-width: 100%;"></div>
<div class="construction">This website is currently under contruction</div>
<div class="construction_pic"><img src="assets/construction.png" alt="construction"></div>