<div class="header">
  FLORENCE'S BEST <br> MARTIAL ARTS SCHOOL
  <!-- <span class="headerFlorence">FLORENCE'S&nbsp;</span> BEST <br> MARTIAL ARTS SCHOOL -->
</div>
<div class="headerWhite homeText">Find out why so many people in Florence turn to Invictus Martial Arts for their martial arts training. Parents just like you have discovered how to maximize their child's potential and accelerate their development! Request more information or Get Started Today with our Exclusive Online Only Offer! Florence Members Have Seen Improvements in as little as 7 days!</div>
